<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserData</title>
</head>
<style>
    #wrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    li{
        list-style-type: none;
    }
    #card{
        border:1px solid black;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 350px;
        margin: 10px;
        transition: 300ms ease-in-out;
    }

    #card:hover{
        box-shadow: 0px 10px 10px 0px black;
    }

    #nav-bar{
        display: flex;
        padding: 10px;
        justify-content: space-between;
        align-items: center;
    }
    #links{
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 90px;
    }

    a{
        text-decoration: none;
        color: black;
        transition: 300ms ease-in-out;
    }

    a:hover{
        text-decoration: underline wavy 2px rgb(0, 100, 161);
        color: rgb(4, 108, 108);
        font-size: 17px;
    }
    h1{
        font-family: cursive;
    }
    #footer {
        background-color: #f0f0f0;
        padding: 10px;
        text-align: center;
    }
</style>
<body>
    <div id="nav-bar">
        <h1>LET'S CODE</h1>
        <div id="links">
            <a href="about">ABOUT</a>
            <a href="#">PROBLEMS</a>
            <a href="#">ACTIVITY</a>
            <a href="logout">LOGOUT</a>
        </div>
    </div>
    <hr>
    <div id="wrapper">
        <% question.forEach(ques => { %>
            <div id="card" style="background-color: <%= ques.difficulty === 'easy' ? 'cyan' : (ques.difficulty === 'medium' ? 'orange' : 'red') %>;">
                <h3>NAME: <%= ques.name %></h3>
                <h5>DIFFICULTY: <%= ques.difficulty %></h5>
                <p><%=ques.description%></p>
        </div>
        <% }) %>
</div>
<hr>
<div id="footer">
    <p>&copy; 2024 Let's Code. All rights reserved.</p>
</div>

</body>
</html>